<head>
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='stylelogin.css')}}>
	<title>Logged In</title>
</head>

<body>

	<h1 class="header">Welcome to your special page, {{logemail}}!</h1>
	<h3 class="header">From here, you can change your username, your password, or logout.</h3>
	
	<div class="spacer"></div>
	<button onclick="display('username');">Change Username</button>
	
		<div id="username" style="display:none; text-align:center;">
			<form action="/changeusername" method="post">
				<input type="text" name="username" value="Old Username"></input>
				<input type="text" name="password" value="Password"></input>
				<input type="text" name="newusername" value="New Username"></input>
				<input type="submit" value="Chage Username"></input>
			</form>
		</div>
	<div class="spacer"></div>
	<button onclick="display('password');">Change Password</button>
		<div id="password" style="display:none; text-align:center;">
			<form action="/changepass" method="post" >
				<input type="text" name="username" value="Username"></input>
				<input type="text" name="oldpass" value="Old password"></input>
				<input type="text" name="newpass" value="New Password"></input>
				<input type="submit" value="Change Password"</input>
			</form>
		</div>

	
	<div class="spacer"></div>
	<button onclick="logout();">Logout</button>
	
	<img src="https://media.giphy.com/media/IB9foBA4PVkKA/giphy.gif"></img>
	<img id="rightimg" src="https://media.giphy.com/media/IB9foBA4PVkKA/giphy.gif"></img>

<script>
alert("You have successfully logged in!");

function display(x) {
	var a = document.getElementById(x);
	if (a.style.display === "block") {
		a.style.display = "none";
	} else {
		a.style.display = "block";
		
		}
	}
function logout() {
	alert("Logging out of account.");
	window.history.back();
}

</script>

</body>
